<div id="<%= dom_id addon %>">
  <p>
    <strong>Category:</strong>
    <%= addon.category %>
  </p>

  <p>
    <strong>Key value:</strong>
    <%= addon.key_value %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= addon.value %>
  </p>

  <p>
    <strong>Percent:</strong>
    <%= addon.percent %>
  </p>

</div>
