<div id="<%= dom_id education %>">
  <p>
    <strong>Title:</strong>
    <%= education.title %>
  </p>

  <p>
    <strong>University:</strong>
    <%= education.university %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= education.start_year %>
  </p>

  <p>
    <strong>End year:</strong>
    <%= education.end_year %>
  </p>

</div>
